@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/proximanova-regular.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "UmnikBold";
  src: url("../fonts/umnik-bold.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}

body {
  min-width: 320px;
  font-family: ProximaNovaRegular;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.inner {
  width: 100%;
  max-width: 1212px;
  margin: 0 auto;
}

.sale__inner {
  padding: 34px 20px 51px;
}

.sale__title {
  font-size: 40px;
}

.sale__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sale__item {
  flex: 0 1 calc(50% - 20px);
  width: 566px;
  height: 294px;
  margin-top: 24px;
  background: pink;
}

.sale__button {
  width: 142px;
  height: 43px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.44);
  background-color: #ff0072;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.42px;
  text-transform: uppercase;
}

.sale__item--yellow {
  background: url("../img/template/yellow-background.png");
}

.sale__item--violet {
  background: url("../img/content/banner-2.png") no-repeat;
  background-size: cover;
  position: relative;
}

.sale__button--right {
  position: absolute;
  right: 33px;
  bottom: 22px;
}

@media (max-width: 1023px) {
  .sale__item {
    flex: 1 1 100%;
  }
}