@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/proximanova-regular.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("../fonts/proximanova-semibold.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/proximanova-bold.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "UmnikBold";
  src: url("../fonts/umnik-bold.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}

body {
  min-width: 320px;
  font-family: ProximaNovaRegular;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.inner {
  width: 100%;
  max-width: 1212px;
  margin: 0 auto;
}

.sale__inner {
  padding: 34px 20px 51px;
}

.sale__title {
  font-size: 40px;
  margin-bottom: 24px;
}

.sale__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sale__item {
  flex: 0 1 calc(50% - 20px);
  min-height: 294px;
}

.sale__button {
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.44);
  background-color: #ff0072;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  padding: 13px 16px;
}

.sale__item--left {
  display: flex;
  justify-content: space-between;
  background: url("../img/template/yellow-background.png");
  padding: 12px 25px 10px 15px;
}

.sale__picture {
  display: block;
  flex: 0 0 251px;
  text-align: center;
  position: relative;
  max-width: 195px;
  margin: 0 auto;
}

.sale__img {
  width: 100%;
}

.sale__picture::after {
  content: '';
  position: absolute;
  background: url("../img/content/gift.png");
  width: 106px;
  height: 119px;
  top: -12px;
  right: -42px;
}

.sale__article {
  flex: 1 1;
  margin-left: 42px;
}

.sale__capture  {
  font-family: ProximaNovaSemibold;
  font-size: 31px;
  margin: 4px 0 9px;
  line-height: 1.2;
  letter-spacing: -1px;
}

.timer {
  max-width: 282px;
}

.timer__body {
  display: flex;
  justify-content: space-between;
}

.timer__capture {
  margin-bottom: 14px;
  letter-spacing: -0.2px;
}

.timer__item {
  text-align: center;
}

.timer__digits {
  position: relative;
  width: 80px;
  height: 55px;
  border-radius: 5px;
  background-color: #fff;
  font-family: UmnikBold;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 11px;
  text-align: center;
  margin-bottom: 6px;
  padding: 5px;
}

.timer__digits::after {
  position: absolute;
  content: '';
  right: 50%;
  top: 0;
  bottom: 0;
  width: 0;
  border-left: 2px dashed #fbb100;
}

.sale__price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.price-new {
  font-family: ProximaNovaBold;
  color: #ff0072;
  font-size: 36px;
  font-weight: 700;
  white-space: nowrap;
  line-height: 0.9;
  margin-bottom: 3px;
}

.price-old {
  position: relative;
  text-transform: uppercase;
}

.price-old::before {
  position: absolute;
  top: 5px;
  left: -5px;
  content: '';
  width: 62px;
  height: 1px;
  border-top: 2px solid #ff0072;
  transform: rotate(9deg);
}

.sale__item--right {
  background: url("../img/content/banner-2.png") no-repeat;
  background-size: cover;
  position: relative;
}

.sale__button--right {
  position: absolute;
  right: 33px;
  bottom: 22px;
}

@media (max-width: 1023px) {
  .sale__item {
    flex: 1 1 100%;
    margin-bottom: 24px;
  }
}

@media (max-width: 599px) {
  .sale__item--left {
    display: block;
  }
}